# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
/NetBeansProjects/ShelfReader/dist/
/NetBeansProjects/FastClipper/dist/