# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
/NetBeansProjects/ShelfReader/dist/
/NetBeansProjects/LockPlanClient/dist/
/NetBeansProjects/LockPlanClient/build/
/NetBeansProjects/LockPlanServer/build/